
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
 
  <meta charset="utf-8">
  <title>AngularJS-Getting Started Interactive</title>
  <meta name="description" content="AngularJS-NodeSen.se">
  <meta name="author" content="krish@nodesen.se">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="../css/style.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 10%">
       
        <p>
        <strong>ng-if</strong> directives to add/remove DOM elements based on expression result.
         if expression result is true, elements are added to DOM.
         if expression result is false, elements are removed from the DOM
        </p>
        <form>
       

    <div class="six columns">
      <label for="exampleEmailInput"> Show when checked</label>
      
      <input type="checkbox" class="u-full-width"  ng-model="toggle1"  placeholder="toggle" />
        <div ng-if="toggle1 == true" >
          ng-if == true This content is shown and added to DOM when the checkbox is clicked
        </div> 
    </div>

   <div class="six columns">
      <label for="exampleEmailInput"> Hide when checked</label>
      
      <input type="checkbox" class="u-full-width"  ng-model="toggle2"  placeholder="toggle" />
        <div ng-hide="toggle2 == true" >
          This content is hidden, removed from DOM when the checkbox is clicked
        </div> 
    </div> 
        </form>
     
      </div>
      </div>
    </div> <!--row -->
    
    
 
  <script type="text/javascript" src="../libs/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>